<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Home Page</title>
    <style media = "Screen">
        body{
            background:yellow;
            color:red;
        }
        span{
            color:blue;
        }
    </style>
</head>
<body>
    <h1>Hello Friend,<span>{{wish}}</span></h1>
    <h2>Now the server time is :<span>{{time}}</span></h2>
    <h1>Astrology Info for Byomakesh Mishra is :<sapn>{{msg}}</sapn></h1>
    <h1>Very soon ,you are going to get marriage with :<span>{{name}}</span></h1>
</body>
</html>